## Objective of this course

   #### learn basic of python
   
   ## list of topics - session 01
   
   ##### 1. What is python?
   ##### 2. Why Python?
   ##### 3. Get started
   ##### 4. Primitive datatypes
   ##### 5. Data structures
   ##### 6. if, elif and else
   ##### 7. for loop
   ##### 8. Function

## 1. What is Python
   
   #### * Python is a interpreted, and dynamically-typed programming language that is widely used for various applications .

## 2. Why Python?

#### * Python is open source.
#### * It is known for its simple syntax, easy readability, and strong community support.
#### * Easy to learn.  
#### * Few lines of code for developing an application. 
#### * Increase productivity
#### * Rapid carrier growth which ensure high salary.
#### * Give lot of new carrier paths.
#### * It is used for various purposes such as web development, data analysis, machine learning, artificial intelligence, scientific computing, and many more.

# 3. get started

#### In this session, we will guide you through the process of writing your first Python program. 
#### Whether you're a beginner or just looking to brush up on your skills, this session will help you get started with creating a simple "Hello, World!" program in Python."

## 3.1 C program - Hello, World!

In [ ]:
'''
#include <stdio.h>
int main() {
  printf("Hello, World!");
  return 0;
}
'''

## 3.2 Java program - Hello, World!

In [ ]:
'''
public class Main {
  public static void main(String[] args) {
    System.out.println("Hello World");
  }
}
'''

## 3.3 Python Program - Hello, World!

   #### In python, to print Hello, World take only one line of code, but other programming languages requires more then 4+ lines.
   #### Few line of code make Time saving, High productivity thats why python popular in now.
   
   #### The print function can be used to display variables, strings, and other data types in a human-readable format.
   #### Additionally, print is often used for testing and debugging purposes, as it provides a quick and easy way to check the values of variables or expressions in your code.

In [ ]:
print("Hello, World!")

# Built-in function

#### A built-in function in Python is a pre-defined function that is part of the standard Python library. Python has a large number of built-in functions that perform a variety of tasks, such as mathematical operations, data type conversions, input/output operations, and more. Some common built-in functions in Python include:

#### * print(): Displays output to the console.

#### * type(): return type of the variable and value.
#### * int(): Converts a value to an integer.

#### * float(): Converts a value to a floating-point number.

#### * str(): Converts a value to a string.

#### * input(): Get user input.

In [29]:
#Ex: print
print("Hi")

Hi

In [32]:
#Ex: input

input("enter your name: ")

enter your name: amuthan

'amuthan'

# 4. primitive datatypes
   
   #### In every programming language, the data type is very important concept.
   
   #### Variables can store different type of data for do difference type of operations.
   
   #### They are typically used to store simple values, such as numbers or characters, 
   
   #### * The following are the primitive data types in Python:
   
   ##### *. Text type - str
   
   ##### *. Numeric types - int, float,

   ##### *. Boolean type - bool

   
#### In Python, there are several built-in functions that work with specific data types:

#### * Text type: len, str, upper, lower, strip, replace, format, etc.

#### * Numeric types : int, float, abs, round, sum, etc.

## 4.1 setting data type in c

#### In c, define data 'type' and 'variablename'. 'variablename' is name of the variable. the equal sign is used to assign the value to the variablename. 

#### In C, we need define end of the line using semi-colon.

#### Example,

In [ ]:
'''
int c;
c = 10;
#What will happen if we assign - it can result in "data loss" if the target data type is not capable of representing the information contained in the original data type.
c = 10.0
'''

## 4.2 setting data type in java

#### In j, define data 'type' and 'variablename'. 'variablename' is name of the variable. the equal sign assign the value to the variablename.

#### In java, we need define end of the line using semi-colon.

#### Example,

In [ ]:
'''
String name = "ram";''
'''

## 4.3 setting data type in python

   #### In python, assigning a value to a variable is set the data type.
   #### No need to define the type of the variable in python. python can find the type of the variable by it own.
   #### We don't need to define end of the line in python, but other programming languages use semicolon for define end of the line.
   
   #### If we need to check, type of the variable in python use 'type()'method for find the type of the variable.

### 4.3.1 Integer (int): A whole number, for example: 10, -5

In [117]:
ia = 10
ib = -5
print(ia)
print(ib)

10
-5

In [118]:
print(type(ia)) # check type of the variable using type() method

<class 'int'>

### 4.3.2 Float (float): A real number with a decimal point, for example: 3.14, -0.6

In [119]:
fa = 3.14
fb = -0.6

print(fa)
print(fb)

3.14
-0.6

In [120]:
print(type(fb)) # check type of the variable using type() method

<class 'float'>

### 4.3.3 String (str): A sequence of characters, for example: 'Hello, World!', '123'

In [122]:
sa = "Hello, World"
sb = '123'

print(sa)
print(sb)

Hello, World
123

In [124]:
print(type(sb)) # check type of the variable using type() method

<class 'str'>

### 4.3.4 Boolean (bool): A value that is either True or False, for example: True, False

In [125]:
bd = True
bf = False

print(bd)
print(bf)

True
False

In [126]:
print(type(bd))

<class 'bool'>

### Excercises,

## 4.4 Setting specific data type

#### If you want to specify the data type, you can use the following constructor functions:
#### However, in some cases, it can be beneficial to set a specific type for a variable. 
#### This can help you catch potential errors early on in the development process and make your code more readable and maintainable. 
#### By explicitly setting a type, you can ensure that a variable is always used in the correct manner throughout your code.

In [38]:
# integer
# Without explicitly setting the type
age = 25

# With explicitly setting the type
age: int = 10000
    
t = int(input(""))
print(type(t))

f

ValueError: invalid literal for int() with base 10: 'f'

In [16]:
print(age)
print(type(age))

10000
<class 'int'>

In [17]:
# float
# Without explicitly setting the type
salary = 10000.00

# With explicitly setting the type
salary: float = 10000.00

In [18]:
print(salary)
print(type(salary))

10000.0
<class 'float'>

In [26]:
# string 
# Without explicitly setting the type
name = 'Rajan'

# With explicitly setting the type
name: str = 'Rajan'

In [27]:
print(name)
print(type(name))

Rajan
<class 'str'>

In [24]:
# bool
# Without explicitly setting the type
isTrue = True

# With explicitly setting the type
isTrue: bool = True

In [25]:
print(isTrue)
print(type(isTrue))

True
<class 'bool'>

## 4.5 Type conversion

#### Type conversion in Python is used to convert data from one data type to another data type. 

#### This is important because different data types have different properties, and some operations or functions may only be available for certain data types. 

#### By converting data from one type to another, we can process the data in a way that is more suitable for our needs.

In [ ]:
'''
float amnt = 100.0;
int amnt = amnt # pass float type to int type get value overload in c and java also
'''

## 4.5.1 Int conversion

### 4.5.1.1 float to int conversion

##### * Rounding values: When working with floating-point numbers, you may want to round them to the nearest integer. By converting floats to integers, you can easily round values to the nearest whole number.

##### * Representing whole numbers: In some cases, you may only need to represent whole numbers, and not fractional values. By converting floats to integers, you can ensure that only whole number values are stored and processed.

In [5]:
# Example: rounding off the price of a product to the nearest whole number

# Input data
price = 10.87

# Convert float to integer
price = int(price)

print(price)  # Output: 10

10

In [134]:
type(round_year_of_experience)

int

### 4.5.1.2 string to int conversion

##### Input from user: When you ask a user to enter a value, the input is usually received as a string. To perform arithmetic operations on this value, you'll need to convert it to an integer first.

##### Reading data from a file: When reading data from a file, the values may be stored as strings, even if they represent numerical data. To perform mathematical operations on these values, you'll need to convert them to integers.

#### Processing data from a database: When retrieving data from a database, values may be stored as strings. To perform calculations on this data, you'll need to convert it to integers.

In [135]:
print("Calculate your 10 th total mark....") # apply int() casting method

tm = input("enter your tamil mark: ")
em = input("enter your english mark: ")
mm = input("enter your maths mark: ")
sm = input("enter your social mark: ")
ssm = input("enter your social-science mark: ")

mark_total = tm + em + mm + sm + ssm
print("total: ", mark_total)

print(type(mark_total))

Calculate your 10 th total mark....
enter your tamil mark: 1
enter your english mark: 2
enter your maths mark: 3
enter your social mark: 2
enter your social-science mark: 1
total:  12321
<class 'str'>

In [ ]:
print("Calculate your 10 th total mark....") # apply int() casting method

tm = int(input("enter your tamil mark: "))
em = int(input("enter your english mark: "))
mm = int(input("enter your maths mark: "))
sm = int(input("enter your social mark: "))
ssm = int(input("enter your social-science mark: "))

mark_total = tm + em + mm + sm + ssm
print("total: ", mark_total)

print(type(mark_total))

## 4.5.2 Float conversion

### 4.5.2.1 int to float conversion

In [ ]:
# Example: calculating a sale price

# Input data
original_price = 500
discount_percent = 25

# Convert integer to float
discount_percent = float(discount_percent) / 100

# Calculate sale price
discount = original_price * discount_percent
sale_price = original_price - discount
print(sale_price)  # Output: 375.0

### 4.5.2.2 string to float conversion

In [8]:
# float representing a temperature in Celsius
temp = input("enter today's temperature: ") #"37.5"

# converting float to string
temp_str = float(temp)

print("Temperature in Celsius: ", temp)
print("Temperature as a string: ", temp_str)

# Output:
# Temperature in Celsius:  37.5
# Temperature as a string:  37.5

enter today's temperature: 4.5
Temperature in Celsius:  4.5
Temperature as a string:  4.5

## 4.5.3 String conversion

### 4.5.3.1 int to str conversion

In [10]:
# Example: converting an integer value to a string for display purposes

# Input data
temperature = 72

# Convert integer to string
temperature_str = str(temperature)

# Use the string value in a message
message = "The temperature is " + temperature_str + "°F."
print(message)  # Output: The temperature is 72°F.

The temperature is 72°F.

### 4.5.3.2 float to str conversion

In [11]:
# Example: converting a float value to a string for display purposes

# Input data
weight = 68.5

# Convert float to string
weight_str = str(weight)

# Use the string value in a message
message = "Your weight is " + weight_str + " kg."
print(message)  # Output: Your weight is 68.5 kg.

Your weight is 68.5 kg.

## Assignment:

### Assignment - 1:
Store the following numbers as variables:

25, 
50, 
75, 
100

Perform the following arithmetic operations using the variables:

##### Addition, 
##### Subtraction, 
##### Multiplication, 
##### Division

Store the result of each operation in separate variables and print the results.

Finally, explain the difference between int and float data types in your own words.

## Assignment-2 : float

##### Create a variable named num1 and assign it the value 10.0.
##### Create a variable named num2 and assign it the value 20.0.
##### Create a variable named result and assign it the value of the sum of num1 and num2.
##### Print the value of result.
##### Create a variable named num3 and assign it the value of the product of num1 and num2.
##### Print the value of num3.
##### Create a variable named div and assign it the value of the division of num3 by num1.
##### Print the value of div.

### Assignment - 3: string

##### Create a variable named greeting and assign it the value "Hello World!".
##### Print the value of greeting.
##### Create a variable named name and assign it the value of your name.
##### Create a variable named introduction and assign it the value "My name is".
##### Concatenate introduction, a space, and name to form a sentence.
##### Print the sentence.
##### Create a variable named length and assign it the length of the sentence formed in step 6.
##### Print the value of length.

## 5. data structures

   #### in a data structures we can store multiples of values or item in a single variable.
   #### we use that varibale for complex and tasks
   
   #### A data structure is a specialized format for organizing, processing, retrieving and storing data.
   
   #### python has four data structures and categories, namely 
   
   ##### 1. sequence types - list, tuple
   
   ##### 2. set type -  set
   
   ##### 3. mapping type - dictionary

### In Python, there are several built-in functions that work with specific data structures:

##### * Lists: len, sum, sorted, min, max, append, pop, remove, insert, etc.

##### * Tuples: len, sum, sorted, min, max, etc.

##### * Dictionaries: len, keys, values, items, get, pop, update, etc.

### 5.1 Sequence types

### 5.1.1 list

   #### List can store multiples of values or items in a single variable.
   #### An ordered collection of items, which can be of any data type, including other lists. 
   #### Lists are mutable and can be accessed by their indices.
   #### List items are associated with list index. we can use the index of the for accessing an list item.
   #### Lists are created using sqaure brackets.
   #### List items are changeable (allows dupilcate members)
   #### List is a heterogeneous - (list store store any type)

### 5.1.1.1 create an list

In [ ]:
classnames = ['alex', 'raj', 'mani', 'mahesh']
print(classnames)

### 5.1.1.2 access an item

In [ ]:
print(classnames.index('mani'))

In [ ]:
print(classnames[1])

In [ ]:
print(classnames[-1])

### 5.1.1.3 add an item

In [ ]:
classnames.append('john')
print(classnames)

### 5.1.1.4 remove specified item

In [ ]:
classnames.remove('raj')

In [ ]:
print(classnames)

## Assignment - 4: list

#### Create a list of your favorite fruits.
#### Add 2 more fruits to the list.
#### Remove one fruit from the list.
#### Sort the list in alphabetical order.
#### Count how many times a specific fruit appears in the list.

## 5.1.2 tuple

   #### An ordered collection of items, similar to a list, but are immutable, meaning their elements cannot be changed after creation.
   #### store multiple items in single variable is called tuple.
   #### tuple are created using round brackets.
   #### tuple is ordered and unchangeable.
   #### it allows dupilcate members

### 5.1.2.1 create tuple

In [ ]:
district = ('madurai', 'theni', 'virudhunagar', 'ramanathapuram', 'sivagangai') # south tamilndau
print(district)

### 5.1.2.2 access item

In [ ]:
print(district[0])

## Assignment - 6: tuple

#### Create a tuple of your favorite fruits.
#### Access the second fruit in the tuple.
#### Try to modify the second fruit in the tuple (this should result in an error, as tuples are immutable).

## 5.2 Set type

## 5.2.1 set

   #### store multiple items in single variable is called set.
   #### set is built-in function in python stores a  collection of data.
   #### set is unordered, unchangeable and unindexed.
   #### no dupilcate members
   #### set items are unchangeable, but we can remove the items and add the new items.

### 5.2.1.1 create set

In [ ]:
attendencename = {'klex', 'jnbu', 'arun', 'rshok', 'manoj', 'yaja'}
print(attendencename)

In [ ]:
# gave duplicate removal example

### 5.2.1.2 access item

In [ ]:
print(attendencename[0])

### 5.2.1.3 add item

In [ ]:
attendencename.add('pradeep')
print(attendencename)

### 5.2.1.4 remove in item

In [ ]:
exampleset.remove('8')
print(exampleset)

In [ ]:
exampleset.remove(6) # if 6 is not in a set
print(exampleset)

## Assignment - 5: set

#### Create a set of your favorite fruits.
#### Add 2 more fruits to the set.
#### Remove one fruit from the set.
#### Check if a specific fruit is in the set.

## 5.3 Mapping Type

## 5.3.1 dict

   #### An unordered collection of key-value pairs, where each key is mapped to a specific value. Dictionaries are mutable and are accessed by their keys. 
   #### dict are created using curly brackets and have key and values.
   #### do not allows dupilcate members.

### 5.3.1.1 create dictionary

In [ ]:
employee_detail = {
    "eid": 1,
    "ename": "Anbu",
    "eage": 25
}

print(employee_detail)

### 5.3.1.2 access item

In [ ]:
print(employee_detail["eid"])

### 5.3.1.3 add item

In [ ]:
employee_detail['qualification'] = "B.E(CSE)"
print(employee_detail)

### 5.3.1.4 remove item

In [ ]:
employee_detail.pop("eage")
print(employee_detail)

### 5.3.1.5 value in a dictionary item can be any data type

In [ ]:
dicttest = {
    '16':{
        "name": 'john',
        "age": 25,
        "plays": ['cricket', 'food_ball', 'kabadi']
    },
    '17':{
        "name": 'kumar',
        "age": 25,
        "plays": ['tenis', ' chess', 'kabadi']
    }
}

dicttest['17']["age"]

In [ ]:
# merge two dict example

# Assignment - 7: dict

#### Create a dictionary of your favorite fruits and their colors.
#### Add 2 more fruits and their colors to the dictionary.
#### Remove one fruit from the dictionary.
#### Access the color of a specific fruit in the dictionary.

## 6. If, Elif and Else Statement 

#### An if statement in Python is used to control the flow of execution based on conditions. It allows you to test a condition, and if the condition is true, execute a block of code.

### There are several types of if statements in Python:

### 6.1 Simple if statement: 
#### Executes a block of code if a specified condition is true.

In [ ]:
# if

person_age = 10
eligible_for_movie = 18
if eligible_for_movie > person_age:
    print('elibible watching movie')

### 6.2 if-else statement: 

##### Executes a block of code if a specified condition is true, and another block of code if the condition is false.

In [ ]:
temperature = 30

if temperature > 25:
  print("It's warm outside.")
else:
  print("It's not so warm.")

### 6.3 if-elif-else statement: 

#### Executes a block of code based on multiple conditions. 
#### If the first condition is true, it executes the block of code associated with it, otherwise, it moves on to the next elif condition, and so on. 
#### If none of the conditions are true, it executes the else block of code.

In [ ]:
# if, elif, else

person_age = 18
eligible_for_movie = 18
if eligible_for_movie > person_age:
    print('elibible')
elif eligible_for_movie == person_age:
    print('elibible')
else:
    print('not eligible')

#### These different types of if statements allow you to write more complex code and make decisions based on multiple conditions.

# Assignment - 8: if

#### Write a Python program that takes a number as input and prints "Positive" if the number is positive, "Negative" if the number is negative, and "Zero" if the number is zero.
#### Modify the program to also print the absolute value of the number.

## 7. For Loop

#### A for loop in Python is used to iterate over a sequence (such as a list, tuple, or string) and execute a block of code for each item in the sequence.

### There are two types of for loops in Python:

#### 1. for loop over a sequence: This type of loop iterates over a sequence of items, such as a list, tuple, or string, and executes a block of code for each item in the sequence.

In [ ]:
# for with list - print student id
rollnums = [6401, 6402, 6403, 6404, 6405, 6406, 6407, 6408, 6409, 6410]
for rollnum in rollnums:
    print(rollnum)

In [ ]:
# for with tuple

In [ ]:
# for with string

## Assignment - 9: for

#### Write a Python program to print the numbers from 1 to 10.
#### Modify the program to print only the odd numbers from 1 to 10.

# 8. Function

#### A function in Python is a block of code that can be executed repeatedly with different inputs. Functions allow you to organize your code, make it reusable and readable.

### There are two types of functions in Python:

#### 1. Built-in Functions: Functions that are built into Python, such as print(), len(), etc.

In [ ]:
print(len("Hello, World!")) # output - 12

#### 2. User-defined Functions: Functions created by the user, to perform specific tasks.

##### Normal Functions: Functions that perform a specific task and return a value.

In [ ]:
def my_first_function(name):
    print("Hello " + name)
    
my_first_function("vijay") # output - Hello vijay

#### Function return a single value

In [ ]:
# return single value

def add(tm, em, mm, sm, ssm):
    total = tm + em + mm + sm + ssm
    return total

tamil_mark = 100
english_mark = 95
maths_mark = 67
science_mark = 87
social_science_mark = 90

mark_total = add(tamil_mark, english_mark, maths_mark, science_mark, social_science_mark)
print(mark_total)

#### Calling the function with arbitary value

In [ ]:
# arbitary arguments

def join_names(*v):
    result = v[0] + v[1]
    return result

fname = 'manoj '
sname = 'prabhakar'
mname = join_names(fname, sname)
print(mname)

#### Function with keyword argumens

In [ ]:
# keyword argumens

def join_first_and_last_name(first_name, second_name):
    result = first_name + second_name
    return result

mname = join_first_and_last_name(first_name='manoj ', second_name='prabhakar')
print(mname)

#### Function arbitary keyword argumens

In [ ]:
def join_first_and_last_name(**names):
    result = names["first_name"] + names["second_name"]
    return result

mname = join_first_and_last_name(first_name='manoj ', second_name='prabhakar')
print(mname)

#### Function with default parameters

##### In Python, you can specify default values for function parameters, which can be used if no value is passed for that parameter. This is done by assigning a default value to the parameter in the function definition.

In [ ]:
def greet(name, message="Hello"):
    print(message + " " + name)

greet("Mahesh")

In [ ]:
greet("Alex", "Hi")

## Assignment - 10: function

#### Create a function to calculate the area of a circle.
#### Create another function to calculate the circumference of a circle.
#### Call both functions and print the results for a circle with a radius of 5.